<h2>Classify Systems</h2>

<%= form_tag('/classification/' + @system_id, method: :put) do %>
    <% @topic.each do |t| %>
        <%= t.label %><br>
        <% @item_label = Item.where("topic_id = ?", t) %>
        <% @item_label.each do |i| %>
            <%= check_box_tag i.key, "1", checked = @classification.include?(i.id)%>
            <%= i.label %><br>
        <% end %>
    <% end %>
    <%= submit_tag %>
<% end %>
<%= link_to 'Enter Technical Characteristics', technical_characteristics_path(:system_id => @system_id) %>
<%= link_to 'Back to systems', system_index_path %>