<%= form_with scope: :system, url: system_index_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, autofocus: true %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
  <%= link_to 'Back to systems', system_index_path %>
<% end %>
