<%= form_with scope: :system, url: classification_index_path, local: true do |form| %>

    <% @topic.each do |i| %>
        <h3><%= i.name %></h3>
        <% @item.each do |j| %>
            <%= form.check_box :j %>
            <%= form.label :j.name %>
        <% end %>
    <% end %>
  <p>
    <%= form.submit %>
  </p>

<% end %>

